<!DOCTYPE html>
<html>
<head>
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="styles.css">
    <script src='script.js'></script>
</head>
<body>
    <div class="container">
        <form action='login' method="POST">
            <h2>Iniciar sesión</h2>
            <input type="text" name="username" placeholder="Nombre de usuario">
            <input type="password" name="password" placeholder="Contraseña">
            <input type="submit" value="Continuar" onclick="showConfirmation()">
        </form>
    </div>
</body>
</html>